.pagination {
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.pagination > div {
  padding-top: 10px;
}
.paginateBtnContainer {
  display: flex;
}
.round {
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
}

.round:hover {
  text-decoration: none;
  background: lightblue;
  color: #fff;
}
.round:hover a {
  text-decoration: none;
  color: #fff;
}

.active {
  background: lightblue;
  color: #fff;
}
a:link {
  text-decoration: none;
  color: lightblue;
}
