.appContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.appTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.header {
  margin: 10px auto;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
